<div *ngIf="agentsLoaded">
    <div *ngFor="let agent of agents">
        {{agent.id.name}}
        {{agent.id.type.name}}
    </div>
</div>

<div *ngIf="typesLoaded">
    <div *ngFor="let type of agentTypes">
        {{type.name}}
    </div>
</div>

<div *ngIf="messagesLoaded">
    <div *ngFor="let mess of messages">
        {{mess.content}}
    </div>
</div>

<select [(ngModel)]="selected1">
    <option *ngFor="let team of teams" [value]="team">{{team}}</option>
</select>

<select [(ngModel)]="selected2">
    <option *ngFor="let team of teams" [value]="team" [attr.selected]="selected2==team ? true : null">{{team}}</option>
</select>

<button (click)="aaa()">aaa</button>