<div class="table">
    <select [(ngModel)]="selected1">
        <option *ngFor="let team of teams" [value]="team">{{team}}</option>
    </select>

    <select [(ngModel)]="selected2">
        <option *ngFor="let team of teams" [value]="team" [attr.selected]="selected2==team ? true : null">{{team}}
        </option>
    </select>

    <button (click)="aaa()" class="btn btn-primary btn-sm">Predict</button>
</div>

<br>
<br>

<table class="table">
    <tr>
        <td>Type:</td>
        <td><input type="text" [(ngModel)]="inputType"></td>
    </tr>
    <tr>
        <td>Name:</td>
        <td><input type="text" [(ngModel)]="inputName"></td>
    </tr>
    <tr>
        <td></td>
        <td><button (click)="newAgent()" class="btn btn-primary">Create</button></td>
    </tr>
</table>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let agent of agents; let i = index">
            <tr>
                <th scope="row">{{i+1}}</th>
                <td>{{agent.id.name}}</td>
                <td>{{agent.id.type.name}}</td>
                <td><button (click)="deleteAgent(agent.id.name)" class="btn btn-danger">Delete</button></td>
            </tr>
        </ng-container>
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Type</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let type of agentTypes; let i = index">
            <tr>
                <th scope="row">{{i+1}}</th>
                <td>{{type.name}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Performative</th>
            <th scope="col">Content</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let mess of messages; let i = index">
            <tr>
                <th scope="row">{{i+1}}</th>
                <td>{{mess.performative}}</td>
                <td>{{mess.content}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>